@import '../../../theme/variables.scss';
.description-holder ::ng-deep p{
    color: $text-dark;
}

.wrapper{
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(auto-fill, minmax(302px, 1fr));
}