<nav class="bg-primary-100">
  <!-- Desktop navigation -->
  <div class="mx-auto relative">

    <div class="flex justify-between py-[10px] px-[10px] lg:px-[60px] md:px-[60px] sm:px-[30px] xl:px-[200px]">

      <div class="flex items-center gap-x-1">

        <svg-icon src="/assets/svg/delivery.svg" [svgStyle]="{
          'width.px': 30,
          'height.px': 30
        }"></svg-icon> 

        <span class="text-white font-semibold italic text-xs">Dostava na teritoriji cele Srbije</span>
      </div>
    
      <div class="flex gap-[4px]">
        @for (icon of icons; track icon){

            <svg-icon 
            class="cursor-pointer"
            [src]="icon.svg" 
            [svgStyle]="{
              'width.px': 30,
              'height.px': 30
            }"></svg-icon>

        }@empty {
          <li>No items found</li>
          }
                
      </div>
    </div>

    <div 
    class="max-sm:hidden top-[50px] flex absolute z-10 items-center 
    w-[100%] px-[10px] xl:px-[200px] 
    md:px-[60px]"
  >
    <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
      <div class="flex flex-shrink-0 items-center relative">
        <div class="absolute h-full left-0">
          @if(isBottomNavFixed){ 
            <svg-icon class="absolute top-[10px]" src="/assets/svg/logo/logo-dark.svg"></svg-icon>
        } @else {
            <svg-icon class="absolute top-[10px]" src="/assets/svg/logo/logo-light.svg"></svg-icon>
        }
        </div>
      </div>
     

        <ul 
        class="
        nav-routes sm:ml-6 w-fullflex 
        justify-center items-center h-[45px] w-[100%] 
        flex new-magic-line-selected"
        [ngClass]="{'dark-nav': isBottomNavFixed} "
        (mouseenter)="magic_line(true)"
        (mouseleave)="magic_line(false)"
        >
            <a 
            routerLink="/pocetna" 
            routerLinkActive="active new-magic-line-selected-home" 
            [routerLinkActiveOptions]="{exact: true}" 
            ariaCurrentWhenActive="page" 
            
            class="px-[8px] text-gray-300 hover:text-white text-14 flex items-center font-semibold italic" 
            >Početna</a>
          
          <li class="px-[8px]">
            <div class="relative cursor-pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (clickOutside)="closeDropdown()">
              <!-- Dropdown Button -->
              <a  class="text-gray-300 text-14 flex items-center font-semibold italic hover:text-white" (click)="toggleDropdown()">
                Proizvodi
              </a>
              
              <!-- Dropdown Menu -->
              <div [ngClass]="{'open-dropdown':isDropdownOpen}" class="hidden absolute left-0 mt-2 w-[130px] bg-primary-100 rounded-xs shadow-lg z-10">
                <a routerLink="tepisi" routerLinkActive="text-white"  class="block px-[8px] py-[8px] text-xs hover:text-white text-gray-300 font-semibold italic" (click)="toggleDropdown()">Tepisi</a>
                
                <div class="h-[1px] w-[120px] relative left-[5px] bg-slate-100"></div>

                <a routerLink="cebad" routerLinkActive="text-white"  class="block px-[8px] py-[8px] text-xs hover:text-white text-gray-300 font-semibold italic" (click)="toggleDropdown()">Ćebad</a>
              </div>
            </div>
            
          </li>

            <a 
            routerLink="/o-nama" 
            routerLinkActive="active new-magic-line-selected-about-us" 
            [routerLinkActiveOptions]="{exact: true}" 
            ariaCurrentWhenActive="page" 
            class="px-[8px] text-gray-300 hover:text-white text-14 
            flex items-center font-semibold italic"
            >O nama</a>
          
            <a 
            routerLink="/kontakt" 
            routerLinkActive="active new-magic-line-selected-contact" 
            [routerLinkActiveOptions]="{exact: true}" 
            ariaCurrentWhenActive="page" 
            class="text-gray-300 hover:text-white text-14 flex items-center 
            font-semibold italic px-[8px]"
            >Kontakt</a>

            <div class="new-magic-line"></div>
        </ul>
    </div>
  </div>
    
    <div 
      [ngClass]="isBottomNavFixed ? 'nav-fixed' : 'nav-top'" 
      class="max-sm:hidden top-[50px] flex absolute z-10 items-center 
      w-[100%] px-[10px] xl:px-[200px] 
      md:px-[60px]"
      [@slideInOutNav]="isBottomNavFixed && isScrolledToTop ? 'true' : 'false'" 
      [@fadeNavigation]="isBottomNavFixed && isScrolledToTop ? 'true' : 'false'"
    >
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <div class="relative h-full">
            @if(isBottomNavFixed){ 
              <svg-icon class="absolute top-[10px]" src="/assets/svg/logo/logo-dark.svg"></svg-icon>
          } @else {
              <svg-icon class="absolute top-[10px]" src="/assets/svg/logo/logo-light.svg"></svg-icon>
          }
          </div>
        </div>

          <ul 
          class="sm:ml-6 w-full flex justify-center items-center h-[45px] 
          nav-routes new-magic-line-selected
          "
          [ngClass]="{'dark-nav': isBottomNavFixed} "
          >
              <a 
              routerLink="/pocetna" 
              routerLinkActive="active new-magic-line-selected-home" 
              [routerLinkActiveOptions]="{exact: true}" 
              ariaCurrentWhenActive="page" 
              class=" text-gray-300 hover:text-white text-14 flex items-center 
              font-semibold italic px-[8px]" 
              >Početna</a>
            
            <li class="px-[8px]">
              <div class="relative cursor-pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (clickOutside)="closeDropdown()">
                <!-- Dropdown Button -->
                <a  class="text-gray-300 text-14 flex items-center font-semibold italic hover:text-white" (click)="toggleDropdown()">
                  Proizvodi
                </a>
                
                <!-- Dropdown Menu -->
                <div [ngClass]="{'open-dropdown':isDropdownOpen}" class="hidden absolute left-0 mt-2 w-[130px] bg-primary-100 rounded-xs shadow-lg z-10">
                  <a routerLink="tepisi" routerLinkActive="text-white"  class="block px-[8px] py-[8px] text-xs hover:text-white text-gray-300 font-semibold italic" (click)="toggleDropdown()">Tepisi</a>
                  
                  <div class="h-[1px] w-[120px] relative left-[5px] bg-slate-100"></div>

                  <a routerLink="cebad" routerLinkActive="text-white"  class="block px-[8px] py-[8px] text-xs hover:text-white text-gray-300 font-semibold italic" (click)="toggleDropdown()">Ćebad</a>
                </div>
              </div>
              
            </li>

              <a 
              routerLink="/o-nama" 
              routerLinkActive="active new-magic-line-selected-about-us" 
              [routerLinkActiveOptions]="{exact: true}" 
              ariaCurrentWhenActive="page" 
              class="  text-14 flex items-center 
              font-semibold italic px-[8px]"
              >O nama</a>
            
              <a 
              routerLink="/kontakt" 
              routerLinkActive="active new-magic-line-selected-contact" 
              [routerLinkActiveOptions]="{exact: true}" 
              ariaCurrentWhenActive="page"
              class=" text-14 flex items-center 
              font-semibold italic px-[8px]"
              >Kontakt</a>

              <div class="new-magic-line dark-magic-line"></div>
          </ul>
      </div>
    </div>
  
  
  </div>

  <!-- Mobile menu toggle button -->
  <div class="sm:hidden flex justify-end" id="mobileMenuButton">
    <button 
    (click)="toggleMobileMenu()"
    type="button" class="focus:outline-none relative inline-flex 
    items-center rounded-md p-2 text-gray-400 hover:text-white m-0">
      <!-- Hamburger menu icon -->
      <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
      <!-- Close menu icon (hidden by default) -->
      <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>

  <!-- Mobile navigation -->
  <div class="sm:hidden relative" >
    <ng-container *ngIf="isMobileMenuOpen">
      <div [@fade] [@slideInOut] class="mobile-menu " 
      class="space-y-1 top-[-4px] gap-[40px] bg-primary-100 px-2 pb-3 pt-2 flex flex-col items-center justify-start absolute z-10 w-full h-[100vh]">
        <button (click)="toggleMobileMenu()" routerLink="/pocetna" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class=" text-gray-300 px-3 py-2 text-sm font-semibold italic" >Početna</button>
        
        <div class="relative cursor-pointer flex flex-col items-center" routerLinkActive="active-child" [routerLinkActiveOptions]="{exact: true}" (clickOutside)="closeDropdown()">
          <!-- Dropdown Button -->
          <a  class="text-gray-300 text-14 flex items-center font-semibold italic hover:text-white first-child" (click)="toggleDropdown()">
            Proizvodi
          </a>
          
          <!-- Dropdown Menu -->
          <div [ngClass]="{'open-dropdown-mobile':isDropdownOpen}" class="hidden left-0 mt-2 z-10">
            <a routerLink="tepisi" routerLinkActive="text-white"  class="block px-4 py-2 text-xs hover:text-white text-gray-300 font-semibold italic" (click)="toggleDropdown()">Tepisi</a>
            <a routerLink="cebad" routerLinkActive="text-white"  class="block px-4 py-2 text-xs hover:text-white text-gray-300 font-semibold italic" (click)="toggleDropdown()">Ćebad</a>
          </div>
        </div>
        
        <button (click)="toggleMobileMenu()" routerLink="/o-nama" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class="text-gray-300 px-3 py-2 text-sm font-semibold italic">O nama</button>
        
        <button (click)="toggleMobileMenu()" routerLink="/kontakt" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class="text-gray-300 px-3 py-2 text-sm font-semibold italic">Kontakt</button>
      </div>
    </ng-container>
  </div>

  
  
  
</nav>