<main class="h-fit pb-[50px]">
    <section class="min-w-[250px] max-w-[700px] m-auto mt-[150px]">
        <article class="mb-[20px]">
            @for (icon of icons; track $index) { @if (icon.data !== 'cart') {
            <div class="flex items-center gap-[10px]">
                <svg-icon [src]="icon.svg"></svg-icon>
                <div>{{ icon.data }}</div>
            </div>
            } }
        </article>
        <article>
            <div class="map-wrap">
                <div class="map" #map></div>
            </div>
        </article>
    </section>
</main>
