  .card__content {
    padding: 20px;
  }

  @keyframes shine {
    to {
      background-position-x: -200%;
    }
  }

  .card__image,
h2,
p {
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1s shine linear infinite;
}
.card__image {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.card__content {
  padding: 10px 0;
}
h2 {
  height: 20px;
  width: 90px;
}
p {
  margin-top: 10px;
  height: 20px;
  width: 50px;
}