<main>
        <section>
            <img class="hidden md:block w-full relative z-0 top-[-4px]" src="assets/images/hero.WebP" alt="">
        </section>

        <section class="px-[60px] pt-[60px] xl:px-[200px]">
            <div class="flex xs:flex-col md:flex-row xs:h-fit xs:items-center md:justify-between 
           gap-[20px] xs:py-[20px] md:px-[100px] md:py-[12px] shadow-custom h-[120px] rounded-[20px]">
                <div class="max-w-[160px] flex flex-col items-center">
                    <svg-icon src="/assets/svg/delivery-darker.svg"></svg-icon>
                    <p class="text-text-dark font-bold italic text-xs text-center mt-[5px]">Dostava bilo gde u Srbiju u roku od 3-4 radnih dana</p>
                </div>

                <div  class="max-w-[160px] flex flex-col items-center">
                    <svg-icon src="/assets/svg/carpet.svg"></svg-icon>
                    <p class="text-text-dark font-bold italic text-xs text-center mt-[5px]">Najbolji kvalitet pri odabiru materijala i  izradi</p>
                </div>
             
                <div  class="max-w-[160px] flex flex-col items-center">
                    <svg-icon src="/assets/svg/planet.svg"></svg-icon>
                    <p class="text-text-dark font-bold italic text-xs text-center mt-[5px]">Napravljeno po narudžbini na održiv način</p>
                </div>
            </div>
        </section>

        <section class="p-[60px] xl:px-[200px] flex flex-col gap-[45px]">
            <article class=" flex 
             shadow-custom rounded-[20px] 
             lg:py-[70px] lg:px-[120px] md:py-5 md:px-10
             xs:p-[20px] sm:p-[60px] sm:justify-center md:justify-between md:gap-[20px]
             
             ">
                <div class="max-w-[375px] flex flex-col items-center fade-in-element">
                        <h2 class="text-text-dark font-bold italic text-[32px]">
                            Ručno radjeni tepisi
                        </h2>
                        
                        <p class="text-center text-text-gray text-sm italic font-medium 
                        xs:mb-[20px] md:mb-20 leading-[25px]
                         mt-[30px]">
                            Tepisi napravite svoj dom elegantnim i udobnim uz našu uslugu rucne izrade tepiha! 
                            Naš tim stručnjaka će pažljivo taftovati vaše tepihe, pružajući im novu dimenziju stila i luksuza. 
                            Bez obzira da li želite da osvežite postojeće tepihe ili da stvorite potpuno novi dizajn, mi smo tu da vam pomognemo. 
                            Sa našom pažnjom prema detaljima i vrhunskim materijalima, vaši tepisi će dobiti elegantan izgled koji će očarati svakog posetioca.
                            Kontaktirajte nas danas i unesite novu energiju u svoj prostor sa našom uslugom taftovanja tepiha!   
                        </p>
                        
                    <button class="text-text-gray px-[18px] py-[10px] duration-[0.3s]
                    border rounded-md hover:bg-primary-100 hover:text-white w-[200px] text-sm">Prikazi više</button>
                </div>

                <div class="hidden xl:block w-[1px] h-[500px] bg-primary-primaryDarken">
                </div>

                <div>
                    <img class="hidden md:block" src="/assets/images/rug.WebP" alt="Image of a rug"/>
                </div>
            </article>

            <article class=" flex 
             shadow-custom rounded-[20px] 
             lg:py-[70px] lg:px-[120px] md:py-5 md:px-10
             xs:p-[20px] sm:p-[60px] sm:justify-center md:justify-between md:gap-[20px]
             fade-in-element
             
             ">
             <div>
                <img class="hidden md:block" src="/assets/images/blanket.WebP" alt="Image of a rug"/>
            </div>

                    <div class="hidden xl:block w-[1px] h-[500px] bg-primary-primaryDarken">
                    </div>

                    <div class="max-w-[375px] flex flex-col items-center">
                        <h2 class="text-text-dark text-center font-bold italic text-[32px]">
                            O našim ćebićima...
                        </h2>
                        
                        <p class="text-center text-text-gray text-sm italic font-medium xs:mb-[20px] md:mb-20 
                        leading-[25px] mt-[30px]">
                            Pamučni ćebići su izrađeni od čistog pamuka.Udobni i pravljeni od najkvalitetnijih materijala, savršeni su za popodnevne dremke ili pokrivanje kada vam je hladno.  Savršen dodir za spavaću sobu ili prebačeno preko fotelje u dnevnoj sobi. Čisti pamuk je popularan zbog svoje mekoće, prozračnosti i prirodnog osećaja na koži.  Sva ćebad je ručno vezena od strane starih zanatlija,u različitim bojama naćićete ćebe koje vam odgovara.
                        </p>
                        
                        <button class="text-text-gray px-[18px] py-[10px] duration-[0.3s]
                        border rounded-md hover:bg-primary-100 hover:text-white w-[200px] text-sm">Prikazi više</button>
                    </div>
            </article>

            <article class=" flex 
            shadow-custom rounded-[20px] 
            lg:py-[70px] lg:px-[120px] md:py-5 md:px-10
            xs:p-[20px] sm:p-[60px] justify-center
            ">
            <div class="max-w-[375px] flex flex-col items-center">
                <h2 class="text-text-dark text-center font-bold italic text-[32px]">
                    Izrada tepiha po zelji
                </h2>
                
                <p class="text-center text-text-gray text-sm italic font-medium xs:mb-[20px] md:mb-20 
                leading-[25px] mt-[30px]">
                U potrazi ste za tepihom koji će istaknuti vaš jedinstveni stil? 
                Tražite personalizovani tepih za poklon dragoj osobi ili porodici,na pravom ste mestu.
                Naša usluga personalizovanih tepiha je upravo ono što vam treba! 
                Odaberite svoj preferirani oblik, dimenzije, boje i uzorke, a mi ćemo se pobrinuti da vaša vizija postane stvarnost. 
                Kontaktirajte nas danas i mi ćemo za vas napraviti tepih koji će odražavati vaš jedinstveni stil i ličnost!
                </p>
                
                <button 
                (click)="openDialog('0ms', '0ms')"
                class="text-text-gray px-[18px] py-[10px] duration-[0.3s]
                border rounded-md hover:bg-primary-100 hover:text-white w-[200px] text-sm mb-[20px]">
                Pošalji nam svoju sliku !</button>
                </div>
            </article>
        </section>
</main>