.fade-in-element {
    opacity: 0;
    animation: fadeInAnimation 1s ease forwards;
}

.mat-mdc-dialog-content{
    padding-top: 20px !important;
    padding-bottom: 0 !important;
}

.mat-mdc-dialog-actions{
    padding: 0;
}

label[for="dropzone-file"] img {
    visibility: visible;
  }
  
  /* Adjust the existing CSS if necessary */
  label[for="dropzone-file"] .svg-icon {
    visibility: hidden;
  }

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}