<div [formGroup]="form" class="flex flex-col items-center">
    <form 
    action="javascript:void(0)"
    class="h-[500px] flex flex-col gap-[20px] mt-[50px] pt-[50px]">
        <div class="grid">
            <label>Puno ime i prezime</label>

            <input 
            formControlName="from_name"
            class="border"
            type="text" 
            name="name"
            id="name"
            placeholder="Petar Petrovic"
            />
        </div>

        <div class="grid">
            <label>Email</label>
            
            <input 
            formControlName="from_email"
            class="border"
            type="email" 
            name="email"
            id="email"
            placeholder="Email"
            />
        </div>

        <div class="grid">
            <label>Broj telefona</label>
            
            <input 
            formControlName="number"
            class="border"
            type="number" 
            name="text"
            id="number"
            placeholder="063-333-333"
            />
        </div>

        <div class="grid">
            <label>Adresa ulica i broj</label>
            
            <input 
            formControlName="address"
            class="border"
            type="text" 
            name="address"
            id="address"
            placeholder="Adresa"
            />
        </div>

        <div class="grid">
            <label>Poštanski broj</label>
            
            <input 
            formControlName="zip_number"
            class="border"
            type="text" 
            name="zip_number"
            id="zip_number"
            placeholder="Poštanski broj"
            />
        </div>

        <div class="grid">
            <label>Poruka</label>
            
            <input 
            formControlName="message"
            class="border"
            type="text" 
            name="message"
            id="message"
            placeholder="Dodatne inforimacije"
            />
        </div>
    </form>

    <div>
        <button  (click)="send()" type="submit">Posalji</button>
    </div>
</div>