<div  class="flex flex-col items-center">
    <form 
    action="javascript:void(0)"
    class="h-[500px] flex flex-col gap-[20px] mt-[50px] pt-[50px]">
        <div class="grid">
            <label>Full Name</label>

            <input 
            formControlName="from_name"
            class="border"
            type="text" 
            name="name"
            id="name"
            placeholder="Full Name"
            />
        </div>

        <div class="grid">
            <label>Email</label>
            
            <input 
            formControlName="from_email"
            class="border"
            type="email" 
            name="email"
            id="email"
            placeholder="Email"
            />
        </div>

        <div class="grid">
            <label>Subject</label>
            
            <input 
            formControlName="subject"
            class="border"
            type="subject" 
            name="subject"
            id="subject"
            placeholder="Subject"
            />
        </div>

        <div class="grid">
            <label>Message</label>
            
            <input 
            formControlName="message"
            class="border"
            type="message" 
            name="message"
            id="message"
            placeholder="Message"
            />
        </div>
    </form>

    <div>
        <button type="submit">Submit</button>
    </div>
    
</div>