<main class="h-full pt-[150px] m-auto max-w-[700px] min-w-[250px]">
    <article>
        <h1
            class="text-primary-100 flex justify-center mb-[20px] text-2xl font-medium"
        >
            Dobrodošli na naš sajt
        </h1>

        <p class="text-primary-100 text-sm">
            Mi smo tim koji se bavi izradom taftovanja tepiha po meri i po
            narudžbini kupca. Na vama je da nam pošaljete vašu viziju tepiha,i
            mi ćemo to pretvoriti u realnost. Prvi smo u Srbiji od 2024. godine
            koji se bavi širom prodajom taftovanih tepiha,i koji imaju svoj sajt
            gde mozete pogledati nase već izradjene tepihe.
        </p>

        <h1
            class="text-primary-100 flex justify-center my-[20px] text-2xl font-medium"
        >
            Više o našim tepisima:
        </h1>

        <p class="text-primary-100 text-sm">
            Naši tepisi su izradjeni od akrilne vunice u svim bojama, a to je
            vrsta sintetičkog materijala od kojeg se proizvodi 70 posto tepiha
            na svetu. Možemo ih izraditi u obliku i boji koju poželite. Dizajn,
            boju i logo na svakom tepihu možemo i zajedno kreirati. Ako imate
            neku vašu ideju tepiha kakvog biste želeli,mozete nam poslati
            fotografiju. Radimo sve ono što kupac poželi.
        </p>

        <p class="text-primary-100 text-sm">
            Na našoj stranici imate dimenzija svakog proizvoda, ali ako želite
            neku drugu dimenziju tepiha biće dovoljno da nas kontaktirate. Naši
            tepisi odgovaraju svim podnim oblogama i imaju odlične
            termoizolacione karakteristike.
        </p>
    </article>
</main>
